<!-- Primary Meta Tags -->
<meta name="title" content="Florian Glatz | Blockchain Lawyer">
<meta name="description"
    content="Working at the intersection of law, blockchain technology, and software development since 2014.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}/">
<meta property="og:title" content="Florian Glatz | Blockchain Lawyer">
<meta property="og:description"
    content="Working at the intersection of law, blockchain technology, and software development since 2014.">
<meta property="og:image" content="{{ site.url }}/social-preview.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ site.url }}/">
<meta name="twitter:title" content="Florian Glatz | Blockchain Lawyer">
<meta name="twitter:description"
    content="Working at the intersection of law, blockchain technology, and software development since 2014.">
<meta name="twitter:image" content="{{ site.url }}/social-preview.png">

<!-- Schema.org -->
{%- include schemas/person.html -%}
{%- include schemas/publications.html -%}

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">

<!-- Styles -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.data.version.hash }}">
<link rel="stylesheet" href="{{ '/assets/css/slideshow.css' | relative_url }}?v={{ site.data.version.hash }}">
<link rel="stylesheet" href="{{ '/assets/css/blog-modal.css' | relative_url }}?v={{ site.data.version.hash }}">
<link rel="stylesheet" href="{{ '/assets/css/advocacy-modal.css' | relative_url }}?v={{ site.data.version.hash }}">
<link rel="stylesheet" href="{{ '/assets/css/swiper-bundle.css' | relative_url }}?v={{ site.data.version.hash }}">

<!-- JavaScript -->
<script defer src="{{ '/assets/js/vendor.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script defer src="{{ '/assets/js/navigation.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script defer src="{{ '/assets/js/pwa.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script type="module" src="{{ '/assets/js/modal.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script type="module" src="{{ '/assets/js/slideshow.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script type="module" src="{{ '/assets/js/blog-modal.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script type="module" src="{{ '/assets/js/advocacy-modal.js' | relative_url }}?v={{ site.data.version.hash }}"></script>