<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">

<!-- Styles -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.data.version.hash }}">
<link rel="stylesheet" href="{{ '/assets/css/slideshow.css' | relative_url }}?v={{ site.data.version.hash }}">

<!-- JavaScript -->
<script defer src="{{ '/assets/js/vendor.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script defer src="{{ '/assets/js/navigation.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script defer src="{{ '/assets/js/pwa.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
<script defer src="{{ '/assets/js/slideshow.js' | relative_url }}?v={{ site.data.version.hash }}"></script> 