<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.data.schema.person.name }}",
  "jobTitle": "{{ site.data.schema.person.jobTitle }}",
  "description": "{{ site.data.schema.person.description }}",
  "url": "{{ site.data.schema.person.url }}",
  "sameAs": {{ site.data.schema.person.social | jsonify }},
  "knowsAbout": {{ site.data.schema.person.expertise | jsonify }},
  "worksFor": [
    {% for org in site.data.schema.person.organizations %}
    {
      "@type": "Organization",
      "name": "{{ org.name }}",
      "url": "{{ org.url }}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],
  "author": [
    {% for pub in site.data.schema.person.publications %}
    {
      "@type": "{{ pub.type }}",
      "name": "{{ pub.name }}",
      "publisher": "{{ pub.publisher }}",
      "datePublished": "{{ pub.datePublished }}"{% if pub.edition %},
      "bookEdition": "{{ pub.edition }}"{% endif %}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script> 