---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
// @import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";
@import "vendor/materialize/materialize";

.parallax-container {
  height: 30rem;

  .parallax img {
    position: fixed;
    bottom: 20%;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: auto;
  }
}

#sidenav-overlay {
  z-index: 0;
}

@media #{$medium-and-down} {
  .container {
    &.fullwidth {
      width: 100%;
    }
  }
}

.row.header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 4em;
  @extend .center-align;

  .label {
    border: 1px solid rgba(0,0,0,0.6);
    padding: 0.2em 1em 0.2em 1em;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.3em;
    position: relative;
    top: 1em;
    display: inline-block;
    color: rgba(0,0,0,0.6);
    background: $white;
  }
}