---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
/*@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";*/
@import "vendor/font-awesome/font-awesome";
// @import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";
@import "vendor/materialize/materialize";


body {
  background: url(/images/blocks.jpg) no-repeat center center fixed; 
  background-size: 100% 100%;
}

.section.content {
  opacity: .9;
  @include box-shadow-2(0 2px 5px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.16));
}

.page-footer {
  height: 17em;
}

.xtitle {
  color: rgba(0,0,0,.5);
  margin-top: 1em;
  display: block;

  a {
    color: inherit!important;
  }
}

.plx-container {
  height: 30rem;
  position: relative;
  overflow: show;  

  .plx {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
        position: fixed;
        bottom: 0;
        width: auto;
        height: auto;
        left: 0;
        min-width: 100%;
        min-height: 100%;        
        display: none;
      }
  }
}
@media #{$small-and-down} {
  body {
    background: url(/images/blocks.jpg) repeat left top fixed; 
    background-size: 100% auto;
  }

  .section.content {
    opacity: 1;
  }  

  .plx-container  {
    height: 15rem;

    .plx img {
      position: absolute; top: -4em; left: 0;
      min-width: 0; min-height: 0;
      width: 100%;
      height: auto;
    }
  }
}


#sidenav-overlay {
  z-index: 0;
}

@media #{$medium-and-down} {
  .container {
    &.fullwidth {
      width: 100%;
    }
  }
}

.row.header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 4em;
  @extend .center-align;

  .label {
    border: 1px solid rgba(0,0,0,0.44);
    padding: 0.2em 1em 0.2em 1em;
    font-size: 0.85em;
    font-weight: 400;
    letter-spacing: 0.3em;
    position: relative;
    top: 1em;
    display: inline-block;
    color: rgba(0,0,0,0.6);
    background: $white;
    text-transform: uppercase;
  }
}

/* css-js bridge re media queries */ 
@media #{$small-and-down} {
  .jscssbridge {
    float: right;
  }
}
@media #{$medium-and-up} {
  .jscssbridge {
    float: left;
  }
}

/* cards */
.card .card-content p {
  margin-bottom: 1em;
}
.card {
  .card-image, .card-content {
    &.sometimes-left {
      float: left;
      img {
        position: relative; top: 4em;
      }
    }
  }
  .card-image.sometimes-left {
    max-width: 30%;
  }
  .card-content.sometimes-left {
    max-width: 70%;
  }
}
@media #{$small-and-down} {
  .card {
    .card-image, .card-content {
      &.sometimes-left {
        float: none;
        max-width: none;
        img {
          position: static;
        }
      }
    }
  }
}

.bio-photo {
    height: 8.3em;
    width: auto;
    border: 3px solid #fff;
    -ms-interpolation-mode: bicubic;
    @extend .z-depth-1;
    @extend .circle;
    @extend .center-align;

    position: relative;
    z-index: 1;    

    &.minified {
      position: fixed;
      top: 0;
    }


  }  

.article-author-side {
  
  position: relative;
  top: -7.5em;
  margin-bottom: -6em;

  .author-bio {
    display: block;
    @extend .center-align;
    letter-spacing: 0.2em;
    margin: 0;
  }
 
  .auth-social-wrapper {
    position: relative;
    @extend .center-align;
  }
  .auth-social {
    @extend .z-depth-1;
    @extend .circle;
    background: $white;
    padding: 0.2em;
    color: $black;
    font-size: 1em;
    display: inline-block;
    position: relative;
    margin: 0.2em;
    width: 1.9em;
    height: 1.9em;
    top: 4em;

    &:hover {
      top: 4.1em;
    }
  }  
  .auth-social:nth-child(2) {
    margin-right: 5em;
  }
  .auth-social:nth-child(3) {
    margin-left: 5em;
  }
}

/* Author sidebar */
@media #{$small-and-down} {
  .bio-photo {
    z-index: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  &.noble {
    letter-spacing: 0.2em;
    font-weight: 300;
  }
}

.twitter-wrapper {
  height: 503px;
  overflow: hidden;
  position: relative;

  iframe {
    position: relative!important;
    top: -56px;
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.tabs {
  .indicator {
    background-color: #ff8f00;
  }

  .tab {
    a {
      color: rgba(0,0,0,.6);
    }

    a.active, a:hover, a:active {
      @extend .amber-text;
      @extend .text-darken-3;
    }
  }
}