<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

<header>
{% include _navigation.html %}
<script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
</header>


<div class="plx-container">
  <div class="plx">
    <img src="/images/wall_medium.jpg" alt="{{ page.title }} feature image">      
  </div>  
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}    
</div>

<div class="section white" style="min-height: 52em">
  <div class="row container">
    <a name="content"></a>
    <div class="article-author-side center-align">
      {% include _author-bio.html %}
    </div>
  </div>
  <div class="row header"><div class="label">{{ page.category }}</div></div>
  <div class="row container">

    <div class="col s12 m7 left">
      <div class="card white">
        <div class="card-content black-text">
          <h3 class="card-title black-text">{{ page.title }}</h3>
          {{ content }}
        </div>
        <div class="card-action">
          <a href="https://medium.com/@heckerhut/smart-contracts-platforms-and-intermediaries-c3d30f5182a6?source=featured">Read more</a>
        </div>
      </div>
    </div>

    <div class="col s12 m5 left">
      <div class="z-depth-1">
        <div class="card white" style="box-shadow: none; margin-bottom: 0">
          <div class="card-content black-text" style="padding-bottom: 0">
            <h3 class="card-title black-text">Twitter Stream</h3>
          </div>
        </div>
        <div class="twitter-wrapper">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/heckerhut" data-widget-id="610926712856182784"></a>
        </div>        
        <div class="card white" style="box-shadow: none; margin-top: -3px;">
          <div class="card-action">
            <a href="https://twitter.com/heckerhut" target="_blank">twitter.com/heckerhut</a>
          </div>        
        </div>
      </div>
    </div>    

  </div>
</div>

<div class="page-footer grey lighten-5 valign-wrapper" style="height: 17em;">
    {% include _footer.html %}
</div>

</body>
</html>