<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v={{ site.data.version.hash }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v={{ site.data.version.hash }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v={{ site.data.version.hash }}">
    <link rel="manifest" href="/site.webmanifest?v={{ site.data.version.hash }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.data.version.hash }}">
</head>
<body>
    {{ content }}
    
    <!-- JavaScript -->
    <script src="{{ '/assets/js/navigation.js' | relative_url }}?v={{ site.data.version.hash }}"></script>
</body>
</html> 